@import "../../components/colors";
.box-fintech {
  background: #001E27;
  padding: 24px;
  border-radius: 8px;
}

.banner.banner-interno.banner-fintech {
  background: url('/assets/images/fintech/img-banner.png') no-repeat 05px 85%;
  background-color: #fff;
  background-size: contain;



  @media (max-width: 768px) {
    background-size: cover;
    background-position: 0;
  }
}

.box-card-news {
  .box {
    border: 1px solid #DBDFDE;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 350px;

    .info-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .box-button-more-info {
        justify-content: space-between;
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 24px;

        button {
          background: transparent;
          border: 0;
          padding: 0;
          font-weight: 700;    
        }
      }
    }
  }  
}