@import "./../../components/colors";

.banner {
  position: relative;

  h1 {
    color: $lightBlue;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  p {
    margin-bottom: 2.5rem;
  }
}

.banner.banner-home {
  background-size: contain;
  height: fit-content;
  min-height: calc(70vh - 89.89px);
  margin: 5rem 0 0 0;
  padding: 3rem 0 1rem;

  .images-banner {
    margin-top: 2rem;
  }

  .images-banner img {
    &:first-child {
      display: none;
    }

    &:nth-child(2) {
      position: relative;
      width: 70%;
    }
  }

  .container, .row {
    height: 100%;
  }

  h1 span {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0 .25rem;
  }
}

.banner.banner-interno {
  background: url('/assets/images/contadores/img-banner.png') no-repeat 20px 90%, linear-gradient(0deg, #fff 30%, $heavyBlue 30%);
  background-size: contain;
  height: calc(90vh - 89.39px);
  margin-top: 89.39px;
  padding-top: 1rem;

  h1, p {
    color: #F7F7F7;
    font-weight: 400;
  }

  h1 {
    font-size: 2rem;
  }
}

.banner.banner-interno.banner-empresas {
  background: url('/assets/images/empresas/img-banner.png') no-repeat 05px 85%, linear-gradient(0deg, #fff 30%, $heavyBlue 30%);
  background-size: contain;
}

.banner.banner-interno.banner-sobre {
  background: linear-gradient(0deg, #fff 35%, $heavyBlue 35%);
  height: fit-content;
  padding-bottom: 3rem;
}

@media(min-width: 428px){
  .banner.banner-home {
    min-height: calc(60vh - 89.89px);
  }

  .banner.banner-interno {
    padding-right: 1rem;
  }

  .banner.banner-interno.banner-empresas {
    height: calc(80vh - 89.39px);
    padding-right: 2rem;
    // background-size: 100%;
  }
}

@media(min-width: 768px){
  .banner.banner-home {
    min-height: calc(50vh - 89.89px);

    h1 span {
      background-color: $heavyBlue;
      // color: inherit;
      // font-size: inherit;
      // font-weight: inherit;
      // padding: 0 .25rem;
    }

    // h1 {
    //   font-size: 2.5rem;
    //   font-weight: 700;
    //   color: $lightBlue;
    // }
  }
  
  .banner.banner-interno {
    background-size: 70%;
    height: calc(75vh - 89.39px);
  }
  
  .banner.banner-interno.banner-empresas {
    background-size: 70%;
    height: calc(70vh - 89.39px);
  }

  .banner.banner-interno.banner-sobre {
    padding-bottom: 1rem;
  }
}

@media(min-width: 1024px){
  .banner-home {
    min-height: unset;
    height: calc(100vh - 5rem);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    padding: 0 0;

    // h1 {
    //   font-size: 2.5rem;
    //   font-weight: 700;
    //   color: $lightBlue;
    // }

    // h1 span {
    //   background-color: $heavyBlue;
    //   color: inherit;
    //   font-size: inherit;
    //   font-weight: inherit;
    //   padding: 0 .25rem;
    // }


    .row {
      align-items: center;
    }
  }

  .banner.banner-interno{
    background: 
      url('/assets/images/contadores/img-banner.png') no-repeat 40px 20px, 
      url('/assets/images/home/play-azul.png') no-repeat -80px 0px, 
      linear-gradient(90deg, transparent 80%, transparent 50%);
    display: flex;
    align-items: center;
    background-size: 40%;
    // height: calc(45vh - 89.39px);

    h1, p {
      color: $heavyBlue;
    }
  }

  .banner.banner-interno.banner-empresas{
    background: 
      url('/assets/images/empresas/img-banner.png') no-repeat 40px 20px, 
      url('/assets/images/home/play-azul.png') no-repeat -80px 0px, 
      linear-gradient(90deg, transparent 80%, transparent 50%);
    background-size: 40%;

    h1, p {
      color: $heavyBlue;
    }
  }

  .banner.banner-interno.banner-sobre {
    h1, p {
      color: #fff;
    }
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .banner-home {
    min-height: unset;
    height: calc(50vh - 89.89px);
    background-size: 45%;

    .row {
      align-items: center;
    }
  }

  .banner.banner-interno{
    background-size: 50%;
    height: calc(45vh - 89.39px);
  }

  .banner.banner-interno.banner-empresas {
    background-size: 50%;
    height: calc(50vh - 89.39px);
  }
}

@media(min-width: 1200px){

  .banner {
    h1 {
      font-size: 3rem;
    }
  }

  .banner.banner-home {
    background-size: 45%;
    margin: 0 0;
    min-height: unset;
    height: calc(100vh - 93.69px);
    position: relative;

    .container, .row {
      height: 100%;
    }

    .row {
      align-items: center;
    }

    // h1 span {
    //   background-color: $heavyBlue;
    //   color: inherit;
    //   font-size: inherit;
    //   font-weight: inherit;
    //   padding: 0 .25rem;
    // }

    // .img-pattern {
    //   position: absolute;
    //   right: 0;
    //   bottom: 0;
    // }
  }

  .banner.banner-interno{
    background: 
    url('/assets/images/contadores/img-banner.png') no-repeat 20px 100px, 
    url('/assets/images/home/play-azul.png') no-repeat -80px -40px, 
    linear-gradient(90deg, transparent 80%, transparent 50%);
    background-size: 45%;
    height: 90vh;
    margin: 0 0;

    h1 {
      font-size: 2.813rem;
    }

    p {
      font-size: 1.406rem;
    }
  }

  .banner.banner-interno.banner-empresas {
    background: 
    url('/assets/images/empresas/img-banner.png') no-repeat 20px 100px, 
    url('/assets/images/home/play-azul.png') no-repeat -80px -40px, 
    linear-gradient(90deg, transparent 80%, transparent 50%);
    background-size: 40%;
    height: 90vh;
  }

  .banner.banner-interno.banner-sobre {
    align-items: center;
    background: url(/assets/images/about-us/pattern1.png) -200px 85px, linear-gradient(0deg, #fff 20%, $heavyBlue 20%);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;

    .card-carousel-banner {
      margin-top: 3rem;
      min-height: 152px;
      padding: 1rem 0.5rem 1rem 0.7rem;

      p {
        font-size: 1rem;
      }
    } 
  } 
}

@media(min-width: 1400px){

  .banner.banner-interno.banner-sobre { 
    background: url(/assets/images/about-us/pattern1.png) -200px 55px,linear-gradient(0deg, #fff 20%, #001e27 20%);
    background-repeat: no-repeat;
    background-size: contain;
    height: 65vh;
  }
}

@media(max-width: 980px){

  .banner.banner-interno.banner-sobre { 
    background-image: none;
    background-color: #001e27;
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
  }
}

@media (max-width: 768px){
  .banner.banner-home {
    background-image: none !important;
  }
}