$heavyBlue: #001e27;
$lightBlue: #00e2f4;
$mainOrange: #ff601f;
$mainPurple: #5e16ff;
$mainGreen: #d8fe00;
$paddingFluidXDesktop: 2rem;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

@import "components/menu";
@import "components/forms";
@import "pages/about";

*, a {
  color: $heavyBlue;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

p {
  font-size:1em;
  color: #525252;
  margin: 0;
}

h6 {
  margin: 0;
}

h4 {
  font-size: 1.4em;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.bg-heavy-blue {
  background: $heavyBlue;
}

.cta {
  border-radius: 40px;
  font-weight: 700;
  line-height: 1rem;
  padding: .625rem 1.5rem;
  transition: 0.2s ease;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.blue-cta {
  background-color: $lightBlue;
  border: 3px solid $lightBlue;
}

.transparent-cta {
  border: 3px solid $heavyBlue;
}

// PÁGINA FIT
.select-seg {
  position: relative;
}

.btns-active-fit {
  .cta.blue-cta {
    background-color: #dedede;
    border: 1px solid #dedede;
    cursor: not-allowed;
  }
}

.box-default {
  padding: 80px;
}
.mb-80 {
  margin-bottom: 80px;
}
// PÁGINA FIT

// FOOTER 
footer {

  .accordion {
    padding: 2.5rem 0 1.5rem;

    * {
      color: $heavyBlue;
    }
    
    .accordion-item {
      border: none;
    }
    
    .accordion-button {
      background-color: #fff;
      border: none;
      font-weight: 700;
      padding: .5rem 0;
    }
    
    .accordion-button:not(.collapsed) {
      color: inherit;
      box-shadow: inset 0 -1px 0 rgba(0,0,0,0);
    }
 
    .accordion-button:not(.collapsed)::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }

    ul {
      list-style: none;
      padding: 0 0;
    }

    ul.anchor-links li {
      // margin-bottom: .5rem;
      display: flex;

      a {
        padding: .5rem 0;
        font-weight: 700;
        width: 100%;
      }
    }
  }

  .social {
    padding: 2rem 0 3rem;
  }
}

.con-partners {
  background-color: #f7f7f7;
  margin: 0;
  padding-top: 2.5rem;
  max-width: 100%;
  
  img {
    margin: 0 auto 2.5rem auto;
  }
}
// FOOTER 

@media (min-width: 768px){
  footer {
    .bg-heavy-blue {
      padding: 2rem $paddingFluidXDesktop;
    }

    .social {
      padding: 0 0;
    }
  }
}

// IPAD PRO 
@media (max-width: 1024px) and (min-height: 1366px) {

}
// IPAD PRO 

@media (min-width: 1024px){
  footer {
    .logo-omie-footer {
      display: flex;

      img {
        width: 75%;
      }
    }

    .social img {
      height: 24px;
      width: 24px;
    }

    .links-site {
      list-style: none;
      padding: 2rem 2rem;

      &:first-child {
        padding: 2rem 2rem 0;
      }

      &:last-child {
        margin: 0 0;
      }

      li {
        padding: .25rem 0;
      }

      li:first-child {
        padding: 0 0 .25rem;
      }

      li:last-child {
        padding: .25rem 0 0rem;
      }

      .list-title {
        font-weight: 700;
        opacity: 1;
      }

      li a, li {
        font-size: 0.938rem;
        font-weight: 500;
        opacity: .9;
        transition: .3s ease;
      }

      li a:hover {
        opacity: 1;
      }
    }

    address {
      font-size: 0.938rem;
    }
  }
}

@media (min-width: 1320px){
  footer {
    .bg-heavy-blue {
      padding: 2rem 3.5rem;
    }

    .logo-omie-footer {
      img {
        width: 60%;
      }
    }

    .links-site {
      padding: 2rem 3rem;

      &:first-child {
        padding: 3rem 3rem 1rem;
      }

      &:last-child {
        padding: 0rem 3rem 3rem;
      }
    }

    .links-unique:first-child,
    .links-unique:last-child {
      padding: 3rem 3rem;
    }
  }
}

@media (min-width: 1920px) {
  footer {
    .logo-omie-footer {
      img {
        width: 50%;
      }
    }
  }
}

.bg-secundary { 
  background: #001e27
}

.color-white {
  color: #fff;
}

.box-btn-plan {
  display: flex;
  justify-content: flex-start;

  button {
    &:nth-of-type(1) {
      background: #fff;
      color: #001E27;
      font-weight: 700;
      border-radius: 100px;
      padding: 8px 24px;
      border: none;
      margin-right: 32px;
    }

    &:nth-of-type(2) {
      background: transparent;
      border: 2px solid #fff;
      color: #fff;
      font-weight: 700;
      border-radius: 100px;
      padding: 8px 24px;
    }  
  }
}

.text-left {
  text-align: left;
}

.w-20 {
  width:20%
} 
.float-right {
  float:right;
}

.w-80 {
  width:80%
} 
.float-left {
  float:left;
}

.height {
  height: 100%;
}

.box-plan {
  h2 {
    font-size:2.8em
  }

  p {
    font-size:1.4em
  }

  div {
    padding: 0px 442px 0 0;
  }
}

.h-400 {
  height: 400px;
}

.h-100 {
  height: 100%;
}

.banner-seta-roxo {
  background-image: url(../images/home/play-revolucionandomercado.svg);
}

.no-image-bg {
  background-image: none;
}

.btn-primary {
  padding:8px 24px;
  border-radius: 100px;
  color: #001E27;
  font-weight: 700;
  background-color: #00E2F4;
  border:none;

  &:hover {
    background-color: #00E2F4;
  }
}

.height-auto {
  height:auto;
}

.btn-thirty {
  background-color: transparent;
  color: #001E27;
  border: 2px solid #001E27;
  padding:8px 24px;
  border-radius: 100px;
}

.box-mid-two {
  background-color: #F7F7F7;
}
.box-list-home {
  ul {
    li {
      list-style: none;
      display: flex;
      justify-content: space-between;
      div {
  
        h3 {
          font-size: 2em;
        }

        p {
          font-size:1em;
        }
      }
    }
  }
}


.box-ask {
  max-width: 805px;
  width: 100%;

  ul {
    padding: 0;
    li {
      list-style: none;
      border-bottom: 1px solid rgba(0, 30, 39, 0.08);
      padding-bottom: 16px;
      margin-bottom: 16px;

      &:nth-of-type(1) {
        .info {
          display: block;
        }
      }

      p {
        margin: 0;
      }

      .info {
        display: none;
      }
    }
  }
}

.link-a {
  font-weight: 700;
  font-size: 1em;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-play-laranja {
  background-image: url(../images/contadores/play-laranja.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  height:540px
}

.box-tab-select {
  .tab {    
    margin-right: 16px;
      
    .box {
      border: 1px solid #DBDFDE;
      padding: 20px 16px;
      border-radius: 8px;
      margin-bottom: 16px;
      cursor: pointer;

      .title-tab {
        display: flex;
        align-items: center;

        img {
          margin-right: 8px;
        }

        h5 {
          margin:0;
        }
      }

      &.active {
        background: #F7F7F7;

        .info-tab {
          display: block;
        }
      }

      .info-tab {
        display: none;
      }
    }
  }
}

.box-contadores {
  .grid-container {
    grid-template-columns: 50% auto auto;
    div {
      padding: 24px;
      height:280px;
      
      img {
        width:26px;
      }

      .div-gradient {
        width: 56px;
        height: 56px;
        background: linear-gradient(46deg, #f7f7f7 50%,#5E16FF 50%)!important;
      }
    }
    &:nth-of-type(1) {     
      div {
        &:nth-of-type(2) {
          background: #F7F7F7;
        }
        &:nth-of-type(3) {
          background: #ECEEEE;
        }
      }    
    }
    &:nth-of-type(2) {     
      div {
        &:nth-of-type(1) {
          background: #F7F7F7;
        }
        &:nth-of-type(2) {
          background: #ECEEEE;
        }
        &:nth-of-type(3) {
          background: #F7F7F7;
        }
      }    
    }
  }
}

.grid-container-empreendedores {
  grid-template-columns: 52.6% auto auto!important;
}

.banner-contadores {
  background-image: url(../images/home/play-azul.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0;

  div:nth-of-type(2) {
    padding: 0 350px 0 0;
  }
}

.box-mid-icons {
  div {
    text-align: center;
    margin:16px 0;
  }
}

.mr-1 {
  margin-right:8px;
}
.mr-2 {
  margin-right:16px;
}
.mr-3 {
  margin-right:32px;
}
.mr-4 {
  margin-right:64px;
}

.ml-1 {
  margin-left:8px;
}
.ml-2 {
  margin-left:16px;
}
.ml-3 {
  margin-left:32px;
}
.ml-4 {
  margin-left:64px;
}

.pattern-home-1 {
  background-image: url(../images/home/pattern1.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left bottom;
}

.pattern-home-4 {
  background-image: url(../images/home/play-azul2.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position:90.5% 95%;
}

.pattern-home-5 {
  background-image: url(../images/home/play-azul2.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 95% 125%;
}
.slide-home {
  div {
    .slide-img {
      img {
        &:nth-of-type(2){
          position: absolute;
          left: 0%;
          top: 41%;
          z-index: 9;
        }
        &:nth-of-type(3){
          position: absolute;
          left: 3%;
          top: 19%;
        }
        &:nth-of-type(4) {
          position: absolute;
          left: 0;
          z-index: 9;
          top: 16%;
        }
      }  
    }
    .box-info-slide {
      div {
        max-width: 450px;
        width: 100%;
      }
    }
  } 
  .box-banner {
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(0, 30, 39, 0.12);
    border-radius: 4px;
    max-width: 345px;
    max-height: 100px;
    padding: 16px;
    position: absolute;
    bottom: 14%;
    left: 24%;
    z-index: 9;
  }
}



.tab-list {
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;

  li {
    border-bottom: 2px solid #DBDFDE;    
    max-width: 300px;
    width: 100%;
    display: flex!important;
    text-align: center;
    justify-content: center!important;
    cursor: pointer;

    &.active {
      border-bottom: 2px solid #00E2F4;    
      font-weight: bold;
    }
  }
}

.bg-empreendedores-1 {
  background-image: url(../images/empreendedores/play-verde.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  height:540px
}

.box-app {
  display: flex;
  justify-content: center;
  padding:0;
  align-items: center;

  li {
    max-width: 310px;
    min-width: 310px;
    min-height: 280px;
    width: 100%;
    list-style: none;
    background: #F7F7F7;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &.active {
      background: #ECEEEE;
      max-height: 336px;
      min-height: 336px;
      max-width: 342px;
      min-width: 342px;
    }

    img {
      width: 56px;
      height: 56px;
    }
  }
}

.grid-4-empreendedor {
  display: grid;
  grid-template-columns: auto auto auto auto;
  div {
    padding: 24px;
    height:280px;
    
    img {
      width:26px;
    }

    .div-gradient {
      width: 56px;
      height: 56px;
      background: linear-gradient(46deg, #f7f7f7 50%,#5E16FF 50%)!important;
    }
  }    
  div {
    &:nth-of-type(1), &:nth-of-type(3) {
      background: #ECEEEE;
    }
    &:nth-of-type(2), &:nth-of-type(4) {
      background: #F7F7F7;
    }
  }    
  
}


.grid-4-fintech {
  display: grid;
  grid-template-columns: auto auto;
    div {
      padding: 24px;
      height:280px;
      
      img {
        width:26px;
      }

      .div-gradient {
        width: 56px;
        height: 56px;
        background: linear-gradient(46deg, #f7f7f7 50%,#5E16FF 50%)!important;
      }
    }
    &:nth-of-type(1) {     
      div {
        &:nth-of-type(2) {
          background: #F7F7F7;
        }
        &:nth-of-type(3) {
          background: #ECEEEE;
        }
      }    
    }
    &:nth-of-type(2) {     
      div {
        &:nth-of-type(1) {
          background: #F7F7F7;
        }
        &:nth-of-type(2) {
          background: #ECEEEE;
        }
        &:nth-of-type(3) {
          background: #F7F7F7;
        }
      }    
    }
}

.box-fintech {
  background: #001E27;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 24px;
}

.input-full {
  max-width: 761px;
}

.grid-container-2 {
  grid-template-columns: 49% 49%;
  display: grid;
}

.grid-container-3 {
  grid-template-columns: 33% 33% 33%;
  display: grid;
}

.grid-container-4 {
  grid-template-columns: 24% 24% 24% 24%;
  display: grid;
}

.box-funcionalidades {
  border-radius: 16px;
  border: 2px solid #DBDFDE;
  padding: 24px;
}

.img-box-funcionalidades {
  position: absolute;
  top: 30px;
  left: 10%;
}
.img-box-funcionalidades-right {
  position: absolute;
  top: 30px;
  right: 10%;
}
.box-map {
  background:#001E27;
}
.box-info-map {
  background: #fff;
  border-radius: 8px;
  padding:24px;
}

.max-width-auto {
  max-width: inherit;
}