$heavyBlue: #001e27;
$lightBlue: #00e2f4;
$mainOrange: #ff601f;
$mainPurple: #5e16ff;
$mainGreen: #d8fe00;
$paddingFluidXDesktop: 2rem;
@import "./theme";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

@import "components/menu";
@import "components/forms";
@import "pages/about";

*, a {
  color: $heavyBlue;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

p {
  font-size: 1vw;
  line-height: 24px;
  color: #525252;
  margin: 0;

  @media(max-width: 1280px) {
    font-size: 1.4vw;
  }

  @media(max-width: 980px) {
    font-size: 1.7vw;
  }
}

h2 {  
  font-size: 2vw;
  
  @media(max-width: 1280px) {
    font-size: 1.7vw;
  }

  @media(max-width: 980px) {
    font-size: 1.2vw;
  }
}

h3 {  
  font-size: 1.9vw;

  @media(max-width: 1280px) {
    font-size: 2.2vw;
  }

  @media(max-width: 980px) {
    font-size: 3.3vw;
  }
}

h6 {
  margin: 0;
}

h4 {
  font-size: 1.4em;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

section {
  width: 100%;
}

.bg-heavy-blue {
  background: $heavyBlue;
}

.cta {
  border-radius: 40px;
  font-weight: 700;
  line-height: 1rem;
  padding: .625rem 1.5rem;
  transition: 0.2s ease;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.blue-cta {
  background-color: $lightBlue;
  border: 3px solid $lightBlue;
}

.transparent-cta {
  border: 3px solid $heavyBlue;
}

// PÁGINA FIT
.data-user {
  padding: 0 0 10rem 0;
  position: relative;
}

.initial-forms.active .btns.btns-active-fit {
  margin: 0 0 0 0;

  .cta.blue-cta.inative {
    background-color: #dedede;
    border: 1px solid #dedede;
    cursor: not-allowed;
  }
}

.box-default {
  padding: 80px!important;

  @media(max-width:1440px) {    
    padding: 60px;
  }

  @media(max-width:980px) {
    flex-direction: column;
    padding: 40px;
  }
}
.mb-80 {
  margin-bottom: 80px;
}
.sec-form-fit {
  display: none;
  padding: .5rem 1.5rem 5rem 1.5rem;
}

.sec-form-fit.active {
  display: block;
}

.sec-produto {
  display: none;
  padding: .5rem 1.5rem 5rem 1.5rem;
  
  hr {
    margin: 2.5rem auto;
    width: 90%;
  }

  .card-omie-fit {
    border: 1px solid #ECEEEE;
    border-radius: 16px;
    p {
      line-height: 1;
      margin: 0;
    }

    header {
      border-bottom: 1px solid #ECEEEE;
      padding: 1.5rem 1rem;

      h3 {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
      }
    }

    .card-body {
      border-bottom: 1px solid #ECEEEE;
      padding: 2rem 1rem;
    }

    .card-footer {
      background-color: $lightBlue;
      padding: 1.5rem 1rem;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;

      p {
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }

  .accordion {
    .accordion-item {
      border: 1px solid #ECEEEE;
      border-radius: 32px;
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }

      span.add-cart {
        display: none;
      }
    }
    
    .accordion-item.item-add-cart {
      .accordion-button {
        background-color: #DBDFDE;
      }

      span.add-cart {
        display: block;
      }
    }

    .accordion-button {
      // background-color: #DBDFDE;
      background-color: transparent;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      display: flex;
      justify-content: space-between;

      .product-name {
        font-size: 1.3rem;
        font-weight: 700;
      }


      &::after {
        display: none;
      }
    }

    .product-items {
      list-style: none;
      padding: 0 0;
    }

    .product-items li {
      display: flex;
      margin-bottom: .5rem;
      // justify-content: flex-start;
      align-items: center;
    }

    .product-items li .img-product {
      width: 20%;
      max-width: 42.67px;
      max-height: 40px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .accordion-footer {
      align-items: flex-start;
      background-color: $heavyBlue;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      display: flex;
      flex-direction: column;
      padding: 1rem 1.25rem;
    }

    .accordion-footer p {
      color: #fff;
      margin-bottom: 0;

      span {
        font-size: 1.5rem;
        color: #fff;
        font-weight: 600;
      }
    }

    .accordion-footer .ctas {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .accordion-footer .white-cta {
      background-color: #fff;
      color: $heavyBlue;
      margin: 1rem 0;
      width: 100%;
    }

    .accordion-footer .transparent-cta {
      color: #fff;
      width: 100%;
    }
  }
}

.sec-produto.active {
  display: block ;
}

.sec-digital-bank {
  display: none;
  padding: .5rem 1.5rem 5rem 1.5rem;
  
  .cards-bank {
    display: flex;
    flex-direction: column;
    
    .card {
      align-items: flex-start;
      display: flex;
      justify-content: flex-start;
      padding: 1rem 0;
      margin: 0 0 1rem;
      border: none;
  
      h3 {
        margin: .5rem 0;
      }
  
      p {
        margin: 0 0;
      }
  
      &:last-child {
        margin: 0 0 0;
      }
    }
  }

  .card-message {
    background-color: #F7F7F7;
    display: none;
    padding: 1rem;
  }

  .card-message-desktop, .form-fit-desktop {
    display: none;
  }
}

.sec-digital-bank.active {
  display: block;
}

.sec-confirm {
  display: none;
  padding: .5rem 1.5rem 5rem 1.5rem;

  .price {
    font-size: 2rem;
    font-weight: 500;
  }

  .accordion-item {
    border: none;
    border-radius: 8px;
    margin-bottom: 1rem;
  }

  .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  
  .accordion-button.collapsed {
    background-color: $lightBlue;
    border-radius: 16px;
  }
  
  .accordion-button {
    background-color: #ECEEEE;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    color: $heavyBlue;
    
    &::after {
      display: none;
    }
  }
  
  .accordion-body {
    background-color: #ECEEEE;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

.sec-confirm.active {
  display: block;
}

.sec-payment {
  display: none;
  padding: .5rem 1.5rem 5rem 1.5rem;

  .list-payments {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

    li {
      align-items: center;
      border: 1px solid #ECEEEE;
      display: flex;
      justify-content: center;
      margin: 0 .5rem .5rem 0;
      padding: .5rem;
    }
  }

  span.span-payment {
    font-weight: 400;
  }

  .form-select {
    border: none;
    border-bottom: 2px solid $heavyBlue;
    border-radius: 0;
  }
}

.sec-payment.active {
  display: block;
}
// PÁGINA FIT


// FOOTER 
footer {

  .accordion {
    padding: 2.5rem 0 1.5rem;

    * {
      color: $heavyBlue;
    }
    
    .accordion-item {
      border: none;
    }
    
    .accordion-button {
      background-color: #fff;
      border: none;
      font-weight: 700;
      padding: .5rem 0;
    }
    
    .accordion-button:not(.collapsed) {
      color: inherit;
      box-shadow: inset 0 -1px 0 rgba(0,0,0,0);
    }
 
    .accordion-button:not(.collapsed)::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }

    ul {
      list-style: none;
      padding: 0 0;
    }

    ul.anchor-links li {
      // margin-bottom: .5rem;
      display: flex;

      a {
        padding: .5rem 0;
        font-weight: 700;
        width: 100%;
      }
    }
  }

  .social {
    padding: 2rem 0 3rem;
  }
}

.con-partners {
  background-color: #f7f7f7;
  margin: 0;
  padding-top: 2.5rem;
  max-width: 100%;
  
  img {
    margin: 0 auto 2.5rem auto;
  }
}
// FOOTER 

@media (min-width: 768px){
  footer {
    .bg-heavy-blue {
      padding: 2rem $paddingFluidXDesktop;
    }

    .social {
      padding: 0 0;
    }
  }

  // PÁGINA FIT  
  .sec-form-fit {
    form {
      max-width: 100%;

      input {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .data-user{
    display: flex;
    flex-direction: column;
    padding: 5rem 0 25rem 0;;
  }
  
  .sec-produto .accordion .accordion-footer {
    flex-direction: row;
    justify-content: space-between;

    .white-cta {
      margin: 0 0;
    }

    .ctas {
      width: 50%;
      flex-direction: row-reverse;
      align-items: center;
    }
  }

  .sec-digital-bank .cards-bank {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      width: 45%;
    }
  }
  // PÁGINA FIT
}

// IPAD PRO 
@media (max-width: 1024px) and (min-height: 1366px) {
  // PÁGINA FIT 
  .initial-forms-fit {
    background-image: linear-gradient(270deg, $heavyBlue 35%, #fff 30%);

    .btns.btns-active-fit .cta.blue-cta.inative {
      margin-top: 2rem;
    }

    .col-arrows img:last-child {
      position: relative;
      left: 0;
      width: 100%;
    }

    .title-fit {
      color: #fff;
      font-size: 2rem;
      left: 100px;
      position: absolute;
      top: -200px;
    }
  }

  .sec-produto .accordion {
    .accordion-footer {
      flex-direction: column;

      .ctas {
        flex-direction: column;
        margin-top: 2rem;
        width: 100%;
      }
    }
  }
  // PÁGINA FIT 

}
// IPAD PRO 

@media (min-width: 1024px){
  // PÁGINA FIT 
  .initial-forms-fit {
    background-image: linear-gradient(270deg, $heavyBlue 35%, #fff 30%);

    .btns.btns-active-fit .cta.blue-cta {
      margin-top: 2rem;
    }

    .title-fit {
      color: #fff;
      font-size: 2rem;
      left: -20px;
      margin-bottom: 1rem;
      position: relative;
    }

    .col-arrows {
      flex-direction: column;

      img:last-child {
        position: initial; 
        width: 90%;
      }
    } 
  }

  .data-user {
    padding: 3rem 0 4rem 0;
  }

  .sec-form-fit {
    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    input {
      font-size: 1rem;
    }

    .form-group {
      width: 48%;
    }
  }

  .card-summary {
    background-color: #F7F7F7;
    padding: 3rem 2rem;
    position: fixed;
    text-align: center;
    width: inherit;

    .total-price {
      text-align: left;
    }

    .price {
      font-size: 2rem;
      font-weight: 500;
    }

    .accordion-item {
      border: none;
      border-radius: 8px;
      margin-bottom: 1rem;
    }
  
    .accordion-item:first-of-type .accordion-button {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }
  
    .accordion-item:last-of-type .accordion-button.collapsed {
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }
    
    .accordion-button.collapsed {
      background-color: $lightBlue;
      border-radius: 16px;
    }
    
    .accordion-button {
      background-color: #ECEEEE;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      color: $heavyBlue;
      
      &::after {
        display: none;
      }
    }
    
    .accordion-body {
      background-color: #ECEEEE;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }

  .sec-thanks-fit {
    .cards-products {
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem 0 0 0;
      
      .card {
        width: 45%;
        margin: 0 0 1rem 0;
      }
    } 
  }
  // PÁGINA FIT 

  footer {
    .logo-omie-footer {
      display: flex;

      img {
        width: 75%;
      }
    }

    .social img {
      height: 24px;
      width: 24px;
    }

    .links-site {
      list-style: none;
      padding: 2rem 2rem;

      &:first-child {
        padding: 2rem 2rem 0;
      }

      &:last-child {
        margin: 0 0;
      }

      li {
        padding: .25rem 0;
      }

      li:first-child {
        padding: 0 0 .25rem;
      }

      li:last-child {
        padding: .25rem 0 0rem;
      }

      .list-title {
        font-weight: 700;
        opacity: 1;
      }

      li a, li {
        font-size: 0.938rem;
        font-weight: 500;
        opacity: .9;
        transition: .3s ease;
      }

      li a:hover {
        opacity: 1;
      }
    }

    address {
      font-size: 0.938rem;
    }
  }
}

@media (min-width: 1320px){
  // PÁGINA FIT 
  .form-check-fit {
    margin: 0 0 1rem 0;

    .form-check-label {
      font-weight: 400;
    }

    input.form-check-input {
      margin: 0 .5rem 0rem 0;
    }
  }

  .sec-produto {
    .accordion-body{
      display: flex;
      justify-content: space-between;
  
      .product-description {
        width: 50%;
      }
  
      .product-items {
        width: 45%;
      }
    }

    .accordion .accordion-footer {
      .ctas {
        width: 60%;
      }
    }
  } 

  .sec-digital-bank {
    .cards-bank .card {
      width: 49%;
  
      h3 {
        font-size: 22px;
      }
    } 

    .form-fit-desktop {
      display: flex;
    }

    .form-fit-mobile {
      display: none;
    }

    .card-message-desktop {
      display: none;
    }
  } 

  .sec-thanks-fit {
    h3.mt-5 {
      margin-top: 5rem !important;
    }

    .cards-products {
      .card {
        width: 45%;
      }
    } 
  }
  // PÁGINA FIT 

  footer {
    .bg-heavy-blue {
      padding: 2rem 3.5rem;
    }

    .logo-omie-footer {
      img {
        width: 60%;
      }
    }

    .links-site {
      padding: 2rem 3rem;

      &:first-child {
        padding: 3rem 3rem 1rem;
      }

      &:last-child {
        padding: 0rem 3rem 3rem;
      }
    }

    .links-unique:first-child,
    .links-unique:last-child {
      padding: 3rem 3rem;
    }
  }
}

@media (min-width: 1920px) {
  footer {
    .logo-omie-footer {
      img {
        width: 50%;
      }
    }
  }
}

.bg-secundary { 
  background: #001e27
}

.color-white {
  color: #fff;
}

.box-btn-plan {
  display: flex;
  justify-content: flex-start;

  button {
    &:nth-of-type(1) {
      background: #fff;
      color: #001E27;
      font-weight: 700;
      border-radius: 100px;
      padding: 8px 24px;
      border: none;
      margin-right: 32px;
    }

    &:nth-of-type(2) {
      background: transparent;
      border: 2px solid #fff;
      color: #fff;
      font-weight: 700;
      border-radius: 100px;
      padding: 8px 24px;
    }  
    @media(max-width:980px) {
      font-size: 0.9em;
      padding: 3px;
    }
  }
}

.text-left {
  text-align: left!important;
}

.w-20 {
  width:20%
} 
.float-right {
  float:right;
}

.w-80 {
  width:74%
} 
.float-left {
  float:left;
}

.height {
  height: 100%;
}

.box-plan {
  @media(max-width:980px) {
    padding:40px!important;
    width:100%;
  }

  h2 {
    font-size:2.8em;
    @media(max-width:980px) {
      font-size:1.8em;
    }
  }

  p {
    font-size: 1.17vw;
    @media(max-width:980px) {
      
    }
  }

  div {
    padding: 0px 120px 0 0;

    @media(max-width:980px) {
      padding: 0px 0 0 0;
    }
  }
}

.h-400 {
  height: 400px;

  @media(max-width:980px) {
    height: auto;
  }
}

.h-100 {
  height: 100%;
}

.banner-seta-roxo {
  background-image: url(../images/home/play-revolucionandomercado.svg);
}

.no-image-bg {
  background-image: none!important;
}

.btn-primary {
  padding:8px 24px;
  border-radius: 100px;
  color: #001E27;
  font-weight: 700;
  background-color: #00E2F4;
  border:none;

  &:hover {
    background-color: #00E2F4;
  }
}

.height-auto {
  height:auto;
}

.btn-thirty {
  background-color: transparent;
  color: #001E27;
  border: 2px solid #001E27;
  padding:8px 24px;
  border-radius: 100px;
}

.box-mid-two {
  background-color: #F7F7F7;
  div {
    margin-bottom: 24px;
    @media(max-width: 860px) {
      text-align: center;
      margin-bottom: 24px;
    }
  }  
}
.box-list-home {
  @media(max-width: 980px) {
    width: 100%;
  }

  ul {
    padding:0;
    li {
      list-style: none;
      display: flex;
      justify-content: space-between;    
    }
  }
}


.box-ask {
  max-width: 805px;
  width: 100%;

  @media(max-width: 1360px) {
    max-width: 600px;
  }

  @media(max-width: 1280px) {
    max-width: 400px;
  }

  @media(max-width: 980px) {
    max-width: inherit;
  }

  ul {
    padding: 0;
    li {
      list-style: none;
      border-bottom: 1px solid rgba(0, 30, 39, 0.08);
      padding-bottom: 16px;
      margin-bottom: 16px;

      &:nth-of-type(1) {
        .info {
          display: block;
        }
      }

      p {
        margin: 0;
      }

      .info {
        display: none;
      }
    }
  }
}

.link-a {
  font-weight: 700;
  font-size: 1.7vw;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-play-laranja {
  background-image: url(../images/contadores/play-laranja.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  height:540px
}

.box-tab-select {
  @media(max-width:980px) {
    flex-direction: column;
  }
  .info-tab {
    @media(max-width:980px) {
      width: 100%;
    }
  }
  .tab {    
    margin-right: 16px;

    @media(max-width:980px) {
      width: 100%;
    }
      
    .box {
      border: 1px solid #DBDFDE;
      padding: 20px 16px;
      border-radius: 8px;
      margin-bottom: 16px;
      cursor: pointer;

      .title-tab {
        display: flex;
        align-items: center;

        img {
          margin-right: 8px;
        }

        h5 {
          margin:0;
        }
      }

      &.active {
        background: #F7F7F7;

        .info-tab {
          display: block;
        }
      }

      .info-tab {
        display: none;
      }
    }
  }
}

.box-contadores {
  .grid-container {
    grid-template-columns: 50% auto auto;

   

    @media(max-width:1024px) {
      grid-template-columns:  auto!important;
    }

    div {
      padding: 24px;
      height:280px;
      @media(max-width:1024px) {
        margin-bottom: 24px;
      }     
      
      img {
        width:26px;
      }

      .div-gradient {
        width: 56px;
        height: 56px;
        background: linear-gradient(46deg, #f7f7f7 50%,#5E16FF 50%)!important;
      }
    }
    &:nth-of-type(1) {     
      div {
        &:nth-of-type(2) {
          background: #F7F7F7;
        }
        &:nth-of-type(3) {
          background: #ECEEEE;
        }
      }    
    }
    &:nth-of-type(2) {     
      div {
        &:nth-of-type(1) {
          background: #F7F7F7;
        }
        &:nth-of-type(2) {
          background: #ECEEEE;
        }
        &:nth-of-type(3) {
          background: #F7F7F7;
        }
      }    
    }
  }
}

.grid-container-empreendedores {
  grid-template-columns: 52.6% auto auto!important;
}

.banner-contadores {
  background-image: url(../images/home/play-azul.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0;

  @media(max-width: 1024px) {
    flex-direction: column;
    background-size: contain;
  }

  @media(max-width: 980px) {
    img {
      width: 100%;
    }
  }

  div {
    @media(max-width: 1280px) {
      padding: 0 40px 0 0;
    }

    &:nth-of-type(2) {
      padding: 0 350px 0 0;

      @media(max-width: 1360px) {
        padding: 0 40px 0 0;
      }
      @media(max-width: 1280px) {
        text-align: center;
      }
    }
  }
}

.box-mid-icons {
  @media(max-width: 860px) {
    flex-direction: column;
  }

  div {
    text-align: center;
    margin:16px 0;
  }
}

.mr-1 {
  margin-right:8px;
}
.mr-2 {
  margin-right:16px;
}
.mr-3 {
  margin-right:32px;
}
.mr-4 {
  margin-right:64px;
}

.ml-1 {
  margin-left:8px;
}
.ml-2 {
  margin-left:16px;
}
.ml-3 {
  margin-left:32px;
}
.ml-4 {
  margin-left:64px;
}

.pattern-home-1 {
  background-image: url(../images/home/pattern1.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left bottom;
}

.pattern-home-4 {
  background-image: url(../images/home/play-azul2.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position:90.5% 95%;
  @media(max-width:980px) {
    background-image: none;
  }
}

.pattern-home-5 {
  background-image: url(../images/home/play-azul2.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 95% 125%;
  margin: 0;
  @media(max-width:980px) {
    background-image: none;
  }
}
.slide-home {
  div {
    .slide-img {
      img {
        &:nth-of-type(2){
          position: absolute;
          left: 0%;
          top: 41%;
          z-index: 9;
        }
        &:nth-of-type(3){
          position: absolute;
          left: 3%;
          top: 19%;
        }
        &:nth-of-type(4) {
          position: absolute;
          left: 0;
          z-index: 9;
          top: 16%;
        }
      }  
    }
    .box-info-slide {
      div {
        max-width: 450px;
        width: 100%;
        @media(max-width:980px) {
          max-width: 100%;
          text-align: center;
        }
      }
    }
  } 
  .box-banner {
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(0, 30, 39, 0.12);
    border-radius: 4px;
    max-width: 345px;
    max-height: 100px;
    padding: 16px;
    position: absolute;
    bottom: 14%;
    left: 24%;
    z-index: 9;
  }
}



.tab-list {
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;

  @media(max-width:980px) {
    flex-direction: column;
  }

  li {
    border-bottom: 2px solid #DBDFDE;    
    max-width: 300px;
    width: 100%;
    display: flex!important;
    text-align: center;
    justify-content: center!important;
    cursor: pointer;

    @media(max-width:980px) {
      max-width: 100%;
      padding:16px
    }

    &.active {
      border-bottom: 2px solid #00E2F4;    
      font-weight: bold;
    }
  }
}

.bg-empreendedores-1 {
  background-image: url(../images/empreendedores/play-verde.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  height:540px
}

.box-app {
  display: flex;
  justify-content: center;
  padding:0;
  align-items: center;

  @media(max-width:980px) {
    flex-direction: column;
  }

  li {
    max-width: 310px;
    min-width: 310px;
    min-height: 280px;
    width: 100%;
    list-style: none;
    background: #F7F7F7;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media(max-width:980px) {
      max-width: 100%;
      min-width: 100%;
      min-height: 100%;
      width: 100%;
    }

    &.active {
      background: #ECEEEE;
      max-height: 336px;
      min-height: 336px;
      max-width: 342px;
      min-width: 342px;
      @media(max-width:980px) {
        max-width: 100%;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
      }
    }

    img {
      width: 56px;
      height: 56px;
    }
  }
}

.grid-4-empreendedor {
  display: grid;
  grid-template-columns: auto auto auto auto;
  
  @media(max-width:1024px) {
    grid-template-columns:  auto!important;
  }

  div {
    padding: 24px;
    height:280px;

    @media(max-width:1024px) {
      margin-bottom: 24px;
    }
    
    img {
      width:26px;
    }

    .div-gradient {
      width: 56px;
      height: 56px;
      background: linear-gradient(46deg, #f7f7f7 50%,#5E16FF 50%)!important;
    }
  }    
  div {
    &:nth-of-type(1), &:nth-of-type(3) {
      background: #ECEEEE;
    }
    &:nth-of-type(2), &:nth-of-type(4) {
      background: #F7F7F7;
    }
  }    
  
}


.grid-4-fintech {
  display: grid;
  grid-template-columns: auto auto;
    div {
      padding: 24px;
      height:280px;
      @media(max-width:1024px) {
        height:180px;
      }
      
      img {
        width:26px;
      }

      .div-gradient {
        width: 56px;
        height: 56px;
        background: linear-gradient(46deg, #f7f7f7 50%,#5E16FF 50%)!important;
      }
    }
    &:nth-of-type(1) {     
      div {
        &:nth-of-type(2) {
          background: #F7F7F7;
        }
        &:nth-of-type(3) {
          background: #F7F7F7;
        }
      }    
    }
    &:nth-of-type(2) {     
      div {
        &:nth-of-type(1) {
          background: #F7F7F7;
        }
        &:nth-of-type(2) {
          background: #fff;
        }
        &:nth-of-type(3) {
          background: #ECEEEE;
        }
        &:nth-of-type(4) {
          background: #F7F7F7;
        }
      }    
    }
}

.box-fintech {
  background: #001E27;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 24px;

  .img-logo {
    width: 110px;
  }
}

.box-price {
  border: 1px solid #DBDFDE;
  border-radius: 16px;
  height: 504px;
  margin-bottom: 24px;

  @media(max-width:1200px) {
    height:530px;
  }

  .header {
    padding: 24px;
    background: #F7F7F7;
    border-radius: 16px 16px 0 0 ;

    label {
      span {
        font-size: 1.7vw  
      }
        font-size: 1.4em
    }
  }

  .body {
    padding: 24px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    min-height: 317px;
    max-height: 340px;
    background: #fff;
    border-radius: 0 0 29px 29px;

    ul {
      padding:0;
      li {
        display: flex;
        justify-content: flex-start;
        line-height:32px;
        img {
          margin-right: 8px;
        }
      }
    }
  }
}

.bg-primary {
  background-color: #00E2F4!important;
}
.table-price {
  thead {
    tr {
      td {
        display: flex;
        justify-content: space-between;
        &:nth-of-type(2) {
          background-color: #F7F7F7
        }
        &:nth-of-type(2) {
          background-color: #00E2F4
        }
      }
    }
  }

  tbody {
    tr {
      td {
        text-align: left;
        padding:16px;
        text-align: center;

        p {
          border-bottom: 1px solid #000;
          padding-bottom: 8px;
          display: block;
        }

        &:nth-of-type(1) {
          background-color:#F7F7F7;
          max-width: 170px;
          text-align: left;
        }
      }
    }
  }
}
.input-full {
  max-width: 761px;
}

.grid-container-2 {
  grid-template-columns: 49% 49%;
  display: grid;
  justify-content: space-between;
}

.grid-container-3 {
  grid-template-columns: 33% 33% 33%;
  display: grid;

  @media(max-width:980px) {
    grid-template-columns: 100%;

    div {
      margin-bottom:24px;
    }
  }
}

.grid-container-4 {
  grid-template-columns: 24% 24% 24% 24%;
  display: grid;
  column-gap: 32px;
}

.box-funcionalidades {
  border-radius: 16px;
  border: 2px solid #DBDFDE;
  padding: 24px;
  background:#fff;
}

.img-box-funcionalidades {
  position: absolute;
  top: 30px;
  left: 0%;

  @media(max-width:1360px) {
    width: 43%;
  }

  @media(max-width:980px) {
    display: none;
  }
}
.img-box-funcionalidades-right {
  position: absolute;
  top: 30px;
  right: 0%;

  @media(max-width:1360px) {
    width: 43%;
  }

  @media(max-width:980px) {
    display: none;
  }
}
.box-map {
  background:#001E27;

  div {
    padding:40px 0;
  }
}
.box-info-map {
  background: #fff;
  border-radius: 8px;
  padding:24px;
}

.max-width-auto {
  max-width: inherit;
}

.info-fale-conosco {
  margin-bottom: 120px;

  @media(max-width:1100px) {
    margin-bottom: 0;
  }
}
.box-div-info {
  max-width: 400px;
  width: 100%;
  @media(max-width:1100px) {
    max-width: 100%;
    text-align: center;
  }
}

.box-list-info {
  background-color: transparent;
  box-shadow: none!important;
  justify-content: space-between;
  padding: 0 12px;

  .info {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 12px;
    display :flex;
    justify-content: flex-start;
    align-items:flex-start;
    max-width: 290px;

    @media(max-width:980px) {
      max-width: 100%;
      margin-bottom: 24px;      
    }
  }
}

.box-personalize {
  background: #F7F7F7;
  padding: 80px;
}
.negative-margin-12 {
  margin-top: -12%;

  @media(max-width:980px) {
    margin-top: 4%;
  }
}
.box-banner-funcionalidades {
  max-width: 1004px;
}

.banner-about-us {
  background-color: #001e27;
  display: flex;
  justify-content: center; 
  align-items: center;  
  flex-direction: column;
  background-image: url(../images/about-us/pattern1.png);
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 600px;

  @media(max-width:980px) {
    height: 500px;
  }

  h1, h2 {
    color: $color-white;
    line-height: 56px;    
    margin-bottom: 16px;
  }

  p {
    color: $color-white;
    line-height:32px;
  }
}

.box-banner {
  max-width: 880px;
  text-align: center;
  width: 100%;
}

.box-card {
  display: flex;
  justify-content: space-around;

  @media(max-width:980px) {
    height: auto!important;
    flex-direction: column;   
  }

  &.banner-box-card {
    background-image: url(../images/about-us/pattern2.png);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: left top;
    height: 240px;
    align-items: flex-start;
  } 

  div {
    background: $color-white;
    width: 397px;    
    padding: 24px;
    box-shadow: 0px 4px 8px rgba(0, 56, 73, 0.06);
    border-radius: 8px;

    @media(max-width:1200px) {
      width: 33%;    
    }

    @media(max-width:980px) {
      height: auto!important;
      margin-top:24px!important;      
      width: 100%;    
    }

    &.box1 {
      margin-top: -80px;
      height:178px;
    }    

    label {
      line-height: 24px;
    }

    h3 {
      font-size: 1.4em;
      line-height: 32px;
      margin: 0 0 16px 0;
      font-weight: 700;
    }
    
    p {
      margin: 0;
      line-height: 24px;
    }
  }
}

.sub-title {
  font-size: 2em;
  color: #001E27;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 16px;
  column-gap: 16px;

  &.grid-vantagens {
    div {
      background:#F7F7F7;
    }   
  }

  @media(max-width:980px) {
    grid-template-columns: 100%;

    div {
      margin-bottom:24px;
    }
  }
  
  .grid-item {
    padding: 24px;  

    h3 {
      font-size: 1.4em;
      line-height:32px;
    }

    p {
      line-height: 24px;
      margin-top: 32px;
    }
  }
}

.box-bussiness {
  @media(max-width:980px) {
    flex-direction: column;
  }
  div {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 2px rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 24px 24px 0 24px;
    width: 397px;
    border-bottom: 0!important;
    @media(max-width:980px) {
      width: 100%;
      margin-bottom: 24px;
    }

    &:nth-of-type(1) {
      border-bottom: 4px solid #5E16FF!important;
    }

    &:nth-of-type(2) {
      border-bottom: 4px solid #D8FE00!important;
    }

    &:nth-of-type(3) {
      border-bottom: 4px solid #FF601F!important;
    }

    h3 {
      color: #F7F7F7;
      font-size: 1.4em;
    }

    p {
      color: #F7F7F7;
    }
  }
}

.box-info {
  width: 397px;
  padding: 24px;

  h3 {
    font-size: 2em;
    line-height: 40px;
  }

  p {
    font-size: 1.4em;
    line-height: 32px;
  }
}

.box-tab {
  max-width: 600px;
  width: 100%;

  ul {
    padding: 0;
  
    display: flex;
    justify-content: center;
    margin:40px 0;

    li {
      width: 300px;
      list-style: none;
      text-align: center;
      font-size: 1.7vw;
      cursor: pointer;
      border-bottom: 1px solid #DBDFDE;
      &.active {
        border-bottom: 2px #00E2F4 solid;
      }
    }
  }

 
  div {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    column-gap: 16px;

    &.box {
      background-color: #F7F7F7;
      height: 240px;
      width: 100%;
      max-width: 397px;
      padding: 24px;

      .înfo {
        align-items: flex-start;
  
        p {
          text-align: left;
        }
      }  
    }

   
   
    img {
      margin-bottom: 32px;
    }
  }
}

.box-list {
  max-width: 607px;
  width: 100%;
  background-image: url(../images/about-us/play-laranja.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 420px;

  @media(max-width:980px) {
    max-width: 100%;
  }

  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 60px;

    li {     
      list-style: none;
      font-size: 1.7vw;   
      background: #FFFFFF;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      padding: 24px;
      height: auto;
      margin-bottom: 32px; 

      label.number {
        font-size: 2.6em;
        @media(max-width:860px) {
          font-size: 1.6em;
        }
      }

      div {
        div {
          width: 410px;
        }
      }
    }
  }
}
.box-info-list {
  max-width: 454px;
  width: 100%;
  padding: 24px;
  @media (max-width:860px) {
    text-align: center;
  }

  @media (max-width:1024px) {
    max-width: 90%;
    width: 100%;
  }
}

.box-work {
  max-width: 397px;
  width: 100%;
  width: 100%;
  padding: 24px;
  margin-right: 80px;
  margin-top: 80px;

  h4 {
    font-size: 2em;
  }

  p {
    font-size: 1.4em;
  }

  button {
    background-color: #00E2F4;
    font-weight: 700;
    font-size: 1.4em;
    padding: 8px 24px;
    border: none;
    border-radius: 1000px;
  }
}

.box-video {
  background: #F7F7F7;
  border-radius: 16px;
  height: 320px;
  margin-top: 80px;

  @media(max-width:1360px) {
    margin-top: 0;
    padding: 16px!important;
  }
 
  @media(max-width:980px) {
    height: auto;
    margin-top: 0;
    overflow: hidden;
    padding: 16px!important;
  }

  img {
    position: absolute;    
    top: -30px;

    @media(max-width:980px) {
      position: relative;
      top: 0px;
      width:100%;
      margin-bottom: 16px;
    }
  }

  div {
    max-width: 398px;
    width: 100%;
    float: right;

    @media(max-width:1440px) {
      max-width: 280px;
    }

    @media(max-width:1024px) {
      max-width: 100%;
    }

    p {
      line-height: 32px;
      font-size: 1.17vw;
      color: #001E27;

      &:nth-of-type(2) {
        font-weight: bold;
        font-size: 0.9em;

        span {
          font-weight: normal;
          font-size: 0.9em;
        }
      }
    }
  }  
}

.box-card-news {
  @media(max-width:980px) {
    flex-direction: column;
  }
  img {
    border-radius: 16px 16px 0 0;
  }

  div {
    max-width: 397px;
    width: 100%;
    border: 1px solid #C2D4D6;
    box-sizing: border-box;
    border-radius: 16px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media(max-width:980px) {
      margin-bottom:4%;
    }

    @media(max-width:1440px) {
      max-width: 348px;
      height: 480px;
      justify-content: start;
    }

    @media(max-width:1200px) {
      max-width: 280px;
      height: 480px;
      justify-content: start;
    }

    @media(max-width:980px) {      
      max-width: 100%;
      height: auto;
    }

    .info-box {
      border: none;
      padding: 24px;
      height: auto;
      img {
        width: 100px
      }

      h4 {
        font-size: 1.2em;
        line-height: 32px;
      }

      div {
        display: flex;
        justify-content: space-between;
        border: none;
        height: auto;
        flex-direction: row;
        align-items: flex-end;

        button {
          background: none;  
          border: none;        
          font-weight: 700;
          padding: 0;
        }

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

.box-mb-200{  
  margin-bottom: -220px;
}

.bg-light {
  background: #F7F7F7;
}

.banner-mid {  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(../images/about-us/pattern3.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top right;

  @media(max-width:980px) {         
    height: auto;
  }

  img:nth-of-type(1)  {
    margin-top: 40px;
  }

  img:nth-of-type(2) {
    max-width: 1100px;
    width: 100%;
  }
}

.pattern-video {
  background-image: url(../images/about-us/pattern4.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0px 360px;
}

.pattern-video-2 {
  background-image: url(../images/home/pattern2.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0px 0px;
}

.pattern-home-3 {
  background-image: url(../images/home/pattern2.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right 320px;
}

.mtb-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.box-info-tab-list {
  @media (max-width:1024px) {
    flex-direction: column;
  }
}
.box-list-empreendedores {
  @media(max-width:980px) {
    flex-direction: column;
  }
}

.box-img-none {
  img {
    @media(max-width:980px) {
      display: none!important;
    }
  }
}
.responsive-flex-column {
  @media(max-width:980px) {
    flex-direction: column;
  }  
}

.footer-plans {
  @media(max-width:980px) {
    height: auto;
    padding:0;
    max-width: 100%!important;
    div {
      &:nth-of-type(1) {
        float:none;
        padding:0;
      }
      &:nth-of-type(2) {
        img {
          display: none!important;
        }      
      }
    }
  }
}

.border-radius-8 {
  border-radius: 8px;
}

.banner-sobre {
  height: auto;
    padding: 170px 0;
    margin-top: 120px;
}

.banner-faq {
  background-position: 0% 117px;
  height: 288px;
}
.box-faq {
  h4 {
    font-weight: 600;
    margin: 32px 0;
    color: #4F5C5C;
  }

  p {
    margin-bottom: 32px;
    color: #4F5C5C;
    line-height: 32px;
  }

  span {
    font-weight: 600;
    color: #4F5C5C;
  }
}

.rigth-video {
  right: 30px;
}
.max-width-auto {
  max-width: inherit!important;
}