$paddingFluidXDesktop: 2rem;

@import "./components/colors";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "components/menu";
@import "components/forms";

*,
a {
  color: $heavyBlue;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

.text-soft-white {
  color: #F7F7F7;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

section {
  background-repeat: no-repeat;
  width: 100%;
}

.bg-heavy-blue {
  background: $heavyBlue;

  .white-cta {
    border: 3px solid #fff;
    background: #fff;

  }

  .transparent-cta {
    border-color: #fff;
    color: #fff;
  }
}

.bg-gray-main {
  background: #f2f5fc;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;

  * {
    width: 100%;
  }
}

.cta {
  border-radius: 40px;
  font-weight: 700;
  line-height: 1rem;
  padding: .625rem 1.5rem;
  transition: 0.2s ease;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.cta-semi-border-radius {
  border-radius: 40px 0 0 40px;
}

.blue-cta {
  background-color: $lightBlue;
  border: 3px solid $lightBlue;
}

.green-cta {
  background-color: $mainGreen;
  border: 3px solid $mainGreen;

  &:hover {
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.6);
  }
}

.transparent-cta {
  border: 3px solid $heavyBlue;
}

.img-pattern {
  position: absolute;
}

.main-content {
  section.sec-main {
    padding: 4rem 0;
    position: relative;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.modal-video {
  .btn-close {
    align-items: center;
    background: #fff;
    border: 3px solid $lightBlue;
    border-radius: 50%;
    color: $lightBlue;
    display: flex;
    font-size: 1.8rem;
    justify-content: center;
    opacity: 1;
    position: absolute;
    right: -2%;
    top: -15%;
    text-align: center;
    z-index: 999;
  }
  
  .modal-dialog {
    align-items: center;
    display: flex;
    height: -webkit-fill-available;
    max-width: 100%;
  }

  iframe {
    min-height: unset;
    max-height: 300px;
    width: 100%;
    position: inherit;
    z-index: 10;
  }
}

// FOOTER 
footer {

  .accordion {
    padding: 2.5rem 0 1.5rem;

    * {
      color: $heavyBlue;
    }

    .accordion-item {
      border: none;
    }

    .accordion-button {
      background-color: #fff;
      border: none;
      font-weight: 700;
      padding: .5rem 0;
    }

    .accordion-button:not(.collapsed) {
      color: inherit;
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0);
    }

    .accordion-button:not(.collapsed)::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }

    ul {
      list-style: none;
      padding: 0 0;
    }

    ul.anchor-links li {
      // margin-bottom: .5rem;
      display: flex;

      a {
        padding: .5rem 0;
        font-weight: 700;
        width: 100%;
      }
    }
  }

  .social {
    padding: 2rem 0 3rem;
  }
}

.con-partners {
  background-color: #f2f5fc;
  margin: 0;
  padding-top: 2.5rem;
  max-width: 100%;

  img {
    margin: 0 auto 2.5rem auto;
  }
}

// FOOTER 
@media (min-width: 428px){
  .modal-video .btn-close {
    top: -10%;
  }
}

@media (min-width: 768px) {
  .modal-video {
    .modal-dialog {
      max-width: 90%;
    }

    iframe {
      max-height: 400px;
    }
  }

  footer {
    .bg-heavy-blue {
      padding: 2rem $paddingFluidXDesktop;
    }

    .social {
      padding: 0 0;
    }
  }
}

@media (min-width: 1024px) {
  .main-content {
    section.sec-main {
      padding: 5rem 0;
    }
  
    h2 {
      font-size: 2rem;
    }
  }

  .actions {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: fit-content;

    .cta {
      width: fit-content;
    }
  }

  .modal-video {
    .modal-dialog {
      max-width: 70%;
    }

    .btn-close {
      right: -5%;
      top: -10%;
    }
  }

  footer {
    .logo-omie-footer {
      display: flex;

      img {
        width: 75%;
      }
    }

    .social img {
      height: 24px;
      width: 24px;
    }

    .links-site {
      list-style: none;
      padding: 2rem 2rem;

      &:first-child {
        padding: 2rem 2rem 0;
      }

      &:last-child {
        margin: 0 0;
      }

      li {
        padding: .25rem 0;
      }

      li:first-child {
        padding: 0 0 .25rem;
      }

      li:last-child {
        padding: .25rem 0 0rem;
      }

      .list-title {
        font-weight: 700;
        opacity: 1;
      }

      li a,
      li {
        font-size: 0.938rem;
        font-weight: 500;
        opacity: .9;
        transition: .3s ease;
      }

      li a:hover {
        opacity: 1;
      }
    }

    address {
      font-size: 0.938rem;
    }
  }
}

@media (min-width: 1320px) {
  .modal-video {
    .modal-dialog {
      max-width: 55%;
    }

    .btn-close {
      font-size: 1.5rem;
      right: -3%;
      top: -5%;
    }
  }

  footer {
    .bg-heavy-blue {
      padding: 2rem 3.5rem;
    }

    .logo-omie-footer {
      img {
        width: 60%;
      }
    }

    .links-site {
      padding: 2rem 3rem;

      &:first-child {
        padding: 3rem 3rem 1rem;
      }

      &:last-child {
        padding: 0rem 3rem 3rem;
      }
    }

    .links-unique:first-child,
    .links-unique:last-child {
      padding: 3rem 3rem;
    }
  }
}

@media (min-width: 1920px) {
  .modal-video {
    iframe {
      max-height: 600px;
      min-height: 550px;
    }
  }

  footer {
    .logo-omie-footer {
      img {
        width: 50%;
      }
    }
  }
}

.mt-80 {
  margin-top: 80px!important;
}

.color-white {
  color: #fff!important;
}

.link-a {
  font-weight: 700;
}
.float-right {
  float: right
} 

.hide-responsive {
  @media(max-width: 768px) {
    display: none!important;
  }
}

.show-responsive {
   @media(min-width: 768px) {
    display: none!important;
  }
}